name: Deploy to Dev environment

on:
  pull_request:
    types:
      - closed

jobs:
  check-merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "The PR was merged"

  deploy-dev:
    needs: check-merged
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Get DAG number
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]
          then
              echo "DAG_FILE_NUMBER=${{ github.event.inputs.dag_number }}" >> $GITHUB_ENV
          else
              echo "DAG_FILE_NUMBER=$(echo ${{ github.event.pull_request.title }} | cut -d' ' -f2 | cut -d'-' -f2)" >> $GITHUB_ENV
          fi

      - name: Install AWS cli
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip python3-venv
          python -m venv dummy-env
          source dummy-env/bin/activate
          sudo pip3 install awscli

      - name: Sync file with S3
        run: |
          aws s3 sync dags/ s3://my-bucket/dags/ --exclude "*" --include "*_${{ env.DAG_FILE_NUMBER }}.py"
          aws s3 sync dependencies/ s3://my-bucket/dependencies/ --exclude "*" --include "*_${{ env.DAG_FILE_NUMBER }}/*"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-west-2